* {
    margin: 0;
    padding: 0;
 
    
    font-family: 'Rubik', sans-serif;

}
.small-container .row-2 h2{
    color: #3e91b8;
}

/*navegacion */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.small-container .row .col-4 h4 {
    color: rgb(73, 127, 226)
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* portada */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding-left: 100px;
    
    flex-basis: 50%;
    min-width: 300px;

 
}
.col-2 img{
    max-width: 60%;
   float: center;
    padding: 5px 0;
}
.col-2 h1{
    color: #3e91b8;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-family: 'Rubik', sans-serif;;
}
.col-2 h2 {
    color: cornflowerblue;
    font-family: 'Rubik', sans-serif;
}
.col-2 h4 {
    color: grey;
    font-family: 'Rubik', sans-serif;
}

.boton{
    display: inline-block;
    background: #3e91b8;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    
}
.boton:hover{
    background: #9bc3e7;
}
.header{
    background: radial-gradient(#fff, #9bc3e7);
    
}


/* Categorias */
.categoria{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Productos */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.2s;
}
.col-4 img{
    width: 100%;
    
}
.col-4 h4{
    font-family: 'Poppins', sans-serif;
}
.titulo-productos{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555
}
.titulo-productos::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;

}
.valoracion .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* marcas */
.patrocinadores{
    margin: 100px auto;

}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* footer */
footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
footer p{
    color: #8a8a8a;

}
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;

}
.footer-col-3 ul , .footer-col-4 ul{
    list-style-type: none;

}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}


/* Todos los Productos */
.row-2 {
    justify-content: space-between;
    margin: 50px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.pagina-btn{
    margin: 0 auto;

}
.pagina-btn button{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.pagina-btn button:hover{
    background: #ff523b;
    color: #fff;
}


/* Detalles */
.detalles-producto{
    margin-top: 5px;
}
.detalles-producto .col-2 img{
    padding: 0;
}
.detalles-producto .col-2{
    padding: 20px;
}
.detalles-producto .col-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.detalles-producto select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.detalles-producto input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.detalles-producto .fa{
    color: #ff523b;
    margin-left: 10px ;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Nosotros*/
.nosotros-page{
    margin: 50px auto;
}
.titulo-nosotros{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-size: 75px;
}
.titulo-nosotros::after{
    content: '';
    background: #ff523b;
    width: 500px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 270px;
    transform: translateY(20px);
    
}
.nosotros-page .small-container p{
    text-align: justify;
    margin-bottom: 100px;
}
/* adaptable */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-heigth 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}



@media only screen and (max-width: 600px){
  .row{
      text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .detalles-producto .row{
      text-align: left;
  }
  .detalles-producto .col-2{
      padding: 20px 0 ;
  }
  .detalles-producto h1{
      font-size: 26px;
      line-height:32px ;
  }
 
}

